.iframe.frontrow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999997;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

@media (max-width: 768px) {
    .iframe.frontrow {
        width: 80%;
        height: 80%;
        left: 50%;
        top: auto;
        bottom: 20px;
        transform: translateX(-50%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 12s linear infinite;
}

#carousel-main img {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#carousel-main img.fade {
    opacity: 0;
}